/* ./src/styles/global.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
@layer base {
  :root {
    --color-primary: 147, 39%;
    --color-secondary: 312, 25%;
  }

  html {
    @apply bg-zinc-100 font-sans text-stone-800 scroll-pt-24;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply mb-6 mt-8 font-medium;
  }
  p,
  li {
    @apply leading-6 mb-6;
  }
  h1 {
    @apply text-5xl mb-10 mt-10 font-mono font-bold;
  }
  h2 {
    @apply text-3xl font-semibold text-primary-500;
  }
  h3 {
    @apply text-2xl text-primary-400;
  }
  h4 {
    @apply text-xl;
  }
  a {
    @apply text-secondary-300 hover:text-secondary-500 font-bold;
  }
  blockquote {
    @apply border-l-4 border-l-teal-300 pl-4 py-2 text-base rounded bg-teal-50 shadow mb-2 pb-[0.1rem];
  }
  // prismjs
  // p code {
  //   @apply inline-block px-2;
  // }
  // pre code[class*='language-'] {
  //   @apply block p-4 overflow-x-scroll;
  // }
  // p code,
  // pre code[class*='language-'] {
  //   @apply bg-slate-100 rounded-md border-2 shadow-lg;
  // }
  // pre code[class*='language-'].line-numbers {
  //   @apply pl-11;
  // }
}

/* components styles */
@layer components {

  main li {
    @apply list-disc ml-8;
  }
  main .noliststyle li {
    @apply list-none ml-0;
  }
  .box {
    @apply rounded-md bg-slate-100 p-4 flex flex-col gap-1 border-2;
  }
  .box.interactive {
    @apply hover:bg-stone-50 hover:shadow-lg;
  }
  table {
    @apply w-full border-2 rounded-md shadow-lg;
    thead {
      @apply bg-slate-100;
    }
    td {
      @apply p-4;
    }
  }
  .wp-grid {
    @apply noliststyle grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2;
  }
  input {
    @apply px-1;
  }
  .markdown-excerpt {
    @apply leading-5;
  }
  .badge{
    @apply px-2 py-1 rounded-xl text-xs text-white font-medium font-mono;
  }
  button:disabled{
    @apply cursor-not-allowed opacity-50
  }
  .small-primary-btn{
    @apply bg-primary-500 hover:bg-primary-600 text-white cursor-pointer px-2 py-0 rounded-md text-sm;
  }
  .btn{
    @apply text-white cursor-pointer px-2 py-0 rounded-md;
  }
  .tooltip {
    @apply relative inline-block no-underline border-b border-stone-800 border-dashed text-current font-normal;
    // .bottom {
    //   @apply min-w-300;
    // }
  }

}

.tooltip .bottom {
  min-width: 300px;
  // max-width:100%;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  color: #666666;
  background-color: #eeeeee;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  display: none;
}

.tooltip:hover .bottom {
  display: block;
}

.tooltip .bottom i {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip .bottom i::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: #eeeeee;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
